/*------------------------------------*\
		settings.colors.brand
\*------------------------------------*/

/*$color-brand-casal: #305361;
$color-brand-bayoux: #4e737b;
$color-brand-lynch: #628190;
$color-brand-balihai: #89a3af;*/