/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
 
 /*
 
 BRAND
 
 */

 .pl-c-brand__logo {
   /* to display the customer logo, you should replace the contents of this file: source/images/pl-brand-logo.svg */
   content: url(../../images/pl-brand-logo.svg);

   width: 100px;
 }
 
 .pl-c-brand__logo img {
   display: none;
 }
 
 .pl-c-brand {
   background: hsl(197, 34%, 30%);
   box-shadow: inset 0px 16px 20px 0px hsla(197, 34%, 10%, 0.1), 
               inset 0px -20px 20px 0px hsla(197, 34%, 10%, 0.1);
   border-bottom: 1px solid hsla(197, 34%, 10%, 0.1);
 }
 
 .pl-c-brand__title {
   color: #fff;
   margin-top: .5em;
 }
 
 .pl-c-category {
   box-shadow: inset 0px 10px 20px -10px hsla(0, 0%, 0%, 0.05), inset 0px -10px 20px -10px hsla(0, 0%, 0%, 0.05); 
 
   border-top: 1px solid hsla(0, 0%, 0%, 0.1);
   border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
 }
 
 
  /*
 
 SWATCHES
 
  */
 
  .pl-c-colors {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   list-style: none !important;
   padding: 0 !important;
   margin: 0 !important;
 }
 
 .pl-c-colors li {
   -webkit-box-flex: 1;
       -ms-flex: auto;
           flex: auto;
   margin: 0 0.5em 0.5em 0;
   min-width: 5em;
   max-width: 14em;
   border: 1px solid #4d4c4c;
 }
 
 .pl-c-swatch {
   display: block;
   height: 8em;
   margin-bottom: 0.3em;
 }
 
 .pl-c-label {
   font-size: 80%;
   line-height: 1.2em;
   padding: 1em;
 }
 
 /*
 
 TYPOGRAPHY
 
 */
 
 .pl-c-font {
   font-size: 2.5em;
 }