<div class="bg-white mx-auto max-w-sm shadow-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://avatars2.githubusercontent.com/u/248851?s=460&v=4" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight">Brian Frisch</p>
        <p class="text-sm leading-tight text-grey-dark">Owner/UI Specialist at BUSY ApS</p>
      </div>
      <div>
        <button class="text-xs font-semibold px-4 py-1 leading-normal bg-white border border-blue text-blue hover:bg-blue hover:text-white">Message</button>
      </div>
    </div>
  </div>
</div>